body {
  background-color: #312f2f;
  color: white; }

.navbar {
  border-bottom: blue 3px solid;
  opacity: 0.8; }

#home-section {
  background: url("../img/home.jpg") no-repeat;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.7; }
  #home-section .fa {
    padding: 4px;
    background: white;
    color: blue;
    font-size: 30px;
    border-radius: 5px; }

#explore-section .fa, #share-section .fa {
  padding: 4px;
  background: black;
  color: white;
  font-size: 30px;
  border-radius: 5px; }

#create-section .fa {
  padding: 4px;
  background: white;
  color: blue;
  font-size: 30px;
  border-radius: 5px; }
